# Игнорировать временные файлы
*.tmp
*.temp

# Игнорировать логи
*.log

# Игнорировать директорию с зависимостями
node_modules/
venv/

# Игнорировать файлы конфигурации среды
.env
.env.local

# Игнорировать конфигурационные файлы
config.py

# Игнорировать файлы IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Игнорировать скомпилированные файлы
*.pyc
__pycache__/
*.class
*.o

# Игнорировать файлы операционной системы
.DS_Store
Thumbs.db

# Игнорировать ffmpeg
*/ffmpeg/
**/ffmpeg/
ffmpeg/
*.exe
